nav {
  display: grid;
  grid-row: 1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
}

li {
  display: inline;
  margin: 8px
}

ul li a {
  color: white;
  text-decoration: none;
}