:root {
	--default-font: 'Comic Sans MS', sans-serif;
	--color-primary: #111142
	--color-secondary: #979799
	--color-tertiary: #C96DE5
}

body {
	width: 90%;
	margin-left: 5%;
}

form {
	display: flex;
	flex-direction: column;
}